{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Talk Trail{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header>
        <h1>Talk Trail</h1>
        <nav>
            <ul>
                <li><h2>Welcome {{ user.username }}</h2></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile_edit' %}">Profile</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>

        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Talk Trail</p>
    </footer>
</body>
</html>