{% extends 'base_generic.html' %}

{% block content %}
    <div class="container">
        <h1>Welcome to Talk Trail</h1>
        <p>
            Talk Trail is an innovative social network where users can connect, share, and engage in meaningful conversations. Our platform offers a streamlined and intuitive way to post updates, interact with others, and stay up-to-date with the latest trends in your network.
        </p>
        <p>
            Whether you're looking to share your thoughts, catch up with friends, or explore new ideas, Talk Trail provides a dynamic and user-friendly environment for all your social networking needs.
        </p>
    </div>
{% endblock %}